{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          ">0.25%",
          "not ie 11",
          "not op_mini all",
          "not dead"
        ]
      },
      "modules": false,
      "useBuiltIns": "usage",
      "corejs": 3
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }],
    "babel-plugin-macros"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-remove-console", {
          "exclude": ["error", "warn"]
        }]
      ]
    }
  }
}
